.details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 5em;
}

.card {
    background-color: rgb(41, 134, 130);
    padding: 1em 2em;
    border-radius: 0.6em;
    width: 23vw;
}

input {
    display: block;
    background-color:  rgba(31, 29, 29, 0.863);
    border: none;
    color: azure;
    width: 100%;
    padding: 0.3em;
    border-radius: 0.4em;
    margin: 0.2em 0 0.4em 0;
}

textarea {
    background-color:  rgba(31, 29, 29, 0.863);
    border: none;
    color: azure;
    width: 100%;
    resize: vertical;
    border-radius: 0.4em;
}

label {
    font-size: 0.9em;
}

h2 {
    margin-bottom: 0.2em;
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 1.4em;
}
.edu-header img {
    cursor: pointer;
}

.edu-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.addBtn {
    margin:  0.8em auto 0 auto;
    font-size: 0.9em;
}

@media screen and (max-width: 480px) {
    .card {
        width: 100vw;
    }
}